/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.md .me-content,.ios .me-content{
  margin: 0;
}

button{
      text-transform: none !important;
}

.md .media-list .item-inner {
    padding-left: 14px !important;
}