﻿
@{
    Layout = null;
}
@model WuMortal.Dmhy.Service.EntityModel.User[]
<div class="page" data-name="userList">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">User List</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list links-list">
            <ul>
                @foreach (var user in Model)
                {
                    <li>
                        <a href="/user/@user.Id/">用户：@user.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>