﻿
@{
    Layout = null;
}
@model WuMortal.Dmhy.Service.EntityModel.User
<template>
    <div class="page" data-name="userInfo">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only">Back</span>
                    </a>
                </div>
                <div class="title">Mortal</div>
            </div>
        </div>
        <div class="page-content">
            <div class="list media-list me-content">
                <ul>
                    <li>
                        <a href="#" class="item-content">
                            <img src="https://avatars2.githubusercontent.com/u/25811487?s=460&v=4" width="80" />
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">@Model.Name<input type="hidden" value="@Model.Id" id="userInfoId" /></div>
                                    @*<div class="item-after"></div>*@
                                </div>
                                <div class="item-subtitle">@Model.EmailAddress</div>
                                <div class="item-text">
                                    创建于:@Model.CreateTime.ToShortDateString()
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block-title">Service</div>
            <div class="list no-hairlines-md">
                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="Selecte API Name" readonly="readonly" id="addUserAPIName" />
                                    <button class="col button button-fill open-prompt" id="addUserAPI">Add API</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="block-title">Web APIs List</div>
            <div class="data-table">
                <table>
                    <thead>
                        <tr>
                            <th class="label-cell">API Name</th>
                            <th class="label-cell">Describe</th>
                            <th class="numeric-cell">Operate</th>
                        </tr>
                    </thead>
                    {{#each apis}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{descible}} </td>

                        <td>
                            <label class="toggle toggle-init color-blue userAPIStatus">
                                <input type="checkbox" value="{{id}}" {{isDeleted?'':'checked'}}>
                                <span class="toggle-icon"></span>
                            </label>
                        </td>
                    </tr>
                    {{/each}}
                </table>

            </div>



        </div>
    </div>
</template>

<script>
    return {
    };
</script>