﻿
@{
    Layout = null;
}

<div class="page" data-name="about">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title">About</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">About Dmhy Manager</div>
        <div class="block block-strong">
            <p>该软件是「动漫花园」移动端的后台管理系统</p>
        </div>
        <div class="block">
            <p>作者：WuMortal</p>
            <p>github：<a href="https://github.com/WuMortal">https://github.com/WuMortal</a></p>
            <p>使用开源组件：</p>
            <p><a href="#">NLog</a></p>
            <p><a href="http://framework7.taobao.org/">Framework7 UI</a></p>
            <p><a href="#">EntityFramework Core</a></p>
            <p><a href="https://github.com/dotnet/core">dotnet core</a></p>
            <p>相关文档：</p>
            <p><a href="http://framework7.cn/docs/">Framework7 UI 文档</a></p>
            <p><a href="https://docs.microsoft.com/zh-cn/aspnet/core/mvc/overview?view=aspnetcore-2.1">ASP.NET Core MVC 文档</a></p>
        </div>
    </div>
</div>
