﻿
@{
    Layout = null;
}

<div class="page" data-name="History">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title">History</div>
        </div>
    </div>
    <div class="page-content">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-item-date">
                    17
                    <small>Oct</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                    <div class="timeline-item-inner">
                        <div class="timeline-item-time">16:32</div>
                        <div class="timeline-item-title">功能整合完成，初始版本完成</div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item-date">
                    16
                    <small>Oct</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                    <div class="timeline-item-inner">
                        <div class="timeline-item-time">16:05</div>
                        <div class="timeline-item-title">迁移至asp.net core mvc 中</div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item-date">
                    15
                    <small>Oct</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                    <div class="timeline-item-inner">
                        <div class="timeline-item-time">18:30</div>
                        <div class="timeline-item-title">完成基本页面布局</div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item-date">
                    15
                    <small>Oct</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                    <div class="timeline-item-inner">
                        <div class="timeline-item-time">9:30</div>
                        <div class="timeline-item-title">开始搭建APP</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>