﻿
@{
    Layout = null;
}
@model WuMortal.Dmhy.Service.EntityModel.AdminUser
<div class="page" data-name="settings">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">Me</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list media-list me-content">
            <ul>
                <li>
                    <a href="#" class="item-content">
                        <img src="https://avatars2.githubusercontent.com/u/25811487?s=460&v=4" width="80" />
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">@Model.Name - Admin</div>
                                @*<div class="item-after"></div>*@
                            </div>
                            <div class="item-subtitle">@Model.EmailAddress</div>
                            <div class="item-text">
                                创建于:@Model.CreateTime.ToShortDateString()
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-title">Service</div>
        <div class="list links-list">
            <ul>
                <li>
                    <a href="/history/" class="panel-close">
                        <div class="item-media">
                            <i class="icon f7-icons color-blue">time_fill</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title"> View History</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/about/" class="panel-close">
                        <div class="item-media">
                            <i class="icon f7-icons color-blue">info_fill</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title"> About DmhyManager</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <button class="col button button-fill open-prompt" id="Logout">Logout</button>
        </div>
    </div>
</div>