﻿
@{
    Layout = null;
}
@model WuMortal.Dmhy.Service.EntityModel.WebAPI[]
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Dmhy Manager</title>

    <link rel="stylesheet" href="~/framework7/css/framework7.min.css">
    <link rel="stylesheet" href="~/css/icons.css">
    <link rel="stylesheet" href="~/css/app.css">
</head>

<body>
    <div id="app">
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar"></div>
        <!-- Views/Tabs container -->
        <div class="views tabs ios-edges">
            <!-- Tabbar for switching views-tabs -->
            <div class="toolbar tabbar-labels toolbar-bottom-md">
                <div class="toolbar-inner">
                    <a href="#view-home" class="tab-link tab-link-active">
                        <i class="icon f7-icons ios-only">home</i>
                        <i class="icon f7-icons ios-only icon-ios-fill">home_fill</i>
                        <i class="icon material-icons md-only">home</i>
                        <span class="tabbar-label">Home</span>
                    </a>
                    <a href="#view-userList" class="tab-link">
                        <i class="icon f7-icons ios-only">list</i>
                        <i class="icon f7-icons ios-only icon-ios-fill">list_fill</i>
                        <i class="icon material-icons md-only">view_list</i>
                        <span class="tabbar-label">User List</span>
                    </a>
                    <a href="#view-settings" class="tab-link">
                        <i class="icon f7-icons ios-only">person</i>
                        <i class="icon f7-icons ios-only icon-ios-fill">person_fill</i>
                        <i class="icon material-icons md-only">person</i>
                        <span class="tabbar-label">Me</span>
                    </a>
                </div>
            </div>
            <!-- Your main view/tab, should have "view-main" class. It also has "tab-active" class -->
            <div id="view-home" class="view view-main tab tab-active">
                <!-- Page, data-name contains page name which can be used in page callbacks -->
                <div class="page" data-name="home">
                    <!-- Top Navbar -->
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title sliding">Dmhy Manager</div>
                        </div>
                    </div>

                    <!-- Scrollable page content-->
                    <!-- <div class="page-content">
                      <div class="block-title">Modals</div>
                      <div class="block block-strong">
                        <div class="row">
                          <div class="col-50">
                            <a href="#" class="button button-raised button-fill login-screen-open" data-login-screen="#my-login-screen">Login Screen</a>
                          </div>
                        </div>
                      </div> -->
                    <div class="page-content">
                        <div class="block-title">Web APIs List</div>
                        <div class="data-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="label-cell">API Name</th>
                                        <th class="label-cell">Describe</th>
                                        <th class="numeric-cell">Operate</th>
                                    </tr>
                                </thead>
                                @foreach (var api in Model)
                                {
                                    <tr>
                                        <td>@api.Name</td>
                                        <td>@api.Descible </td>

                                        <td>
                                            <label class="toggle toggle-init color-blue">
                                                <input type="checkbox" value="@api.Id" checked="@(!api.IsDeleted)">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>

                        @*<!--TODO:统计功能-->
                                <div class="data-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="label-cell">API Name</th>
                                            <th class="label-cell">Describe</th>
                                            <th class="numeric-cell">Visit Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="label-cell">HotPost </td>
                                            <td class="label-cell">热门帖子 API</td>
                                            <td class="numeric-cell">159</td>
                                        </tr>
                                        <tr>
                                            <td class="label-cell">HotPost </td>
                                            <td class="label-cell">热门帖子 API</td>
                                            <td class="numeric-cell">159</td>
                                        </tr>
                                        <tr>
                                            <td class="label-cell">HotPost </td>
                                            <td class="label-cell">热门帖子 API</td>
                                            <td class="numeric-cell">159</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@

                        <div class="block-title">Add API</div>
                        <div class="block">
                            <div class="list inline-labels no-hairlines-md">
                                <ul>
                                    <li class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Name</div>
                                            <div class="item-input-wrap">
                                                <input type="text" id="apiName" placeholder="API name">
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Describe</div>
                                            <div class="item-input-wrap">
                                                <input type="text" id="apiDescribe" placeholder="API describe">
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <button class="col button button-fill open-prompt" id="addAPI">Add New API</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- userList View -->
            <div id="view-userList" class="view tab">
                <!-- userList page will be loaded here dynamically from /userList/ route -->
            </div>

            <!-- Settings View -->
            <div id="view-settings" class="view tab">
                <!-- Settings page will be loaded here dynamically from /settings/ route -->
            </div>
        </div>
    </div>


    <!-- Cordova -->
    <!--
    <script src="cordova.js"></script>
    -->

    <script src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.js"></script>

    <!-- Framework7 library -->
    <script src="~/framework7/js/framework7.min.js"></script>

    <!-- App routes -->
    <script src="~/js/routes.js"></script>

    <!-- Your custom app scripts -->
    <script src="~/js/app.js"></script>

    <script src="~/js/user.js"></script>

    <script src="~/js/setting.js"></script>
</body>

</html>