﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Dmhy Manage Login</title>

</head>
<body class="">
    <div class="container">
        <div class="page-header text-center">
            <h3>Dmhy Manage Login</h3>
        </div>
        <form class="adminInfo">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="pwd" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="button" class="btn btn-default btn-lg btn-block">Login</button>
        </form>
        <div class="alert alert-warning" role="alert"></div>
    </div>
    <div class="mask ng-scope ng-hide" ng-show="loading">
        <div class="loader"></div>
        <!--<div class="sk-chasing-dots">-->
        <!--<div class="sk-child sk-dot1"></div>-->
        <!--<div class="sk-child sk-dot2"></div>-->
        <!--</div>-->
    </div>

    <script src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(function () {
            $('.alert').hide();
            $('.mask').hide();

            $('button[type="button"]').click(function () {
                showLoader();
                var formData = $(".adminInfo").serialize();    //表单数据

                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/User/Login",
                    data: formData,
                    success: function (data) {
                        hideLoader();
                        if (data.status == 1) {
                            $('.alert').show().text(data.msg);
                            return;
                        }
                        else if (data.status == 0) {
                            $('.alert').show().text('login ok!');
                            location.href = "/";
                        } else {
                            $('.alert').show().text(data.msg);
                            return;
                        }

                    },
                    error: function () {
                        hideLoader();
                        showMessage('ERROR');
                    }
                });
            });


            function showMessage(text, time = 2000) {
                $('.alert').text(text).fadeToggle(500);
                var interval = setInterval(function () {
                    $('.alert').text('').fadeToggle(500);
                    window.clearInterval(interval);
                }, time);

            }

            function showLoader() {
                $('.mask').show();
            }

            function hideLoader() {
                $('.mask').hide();
            }

        });
    </script>
</body>
</html>
